# dependencies
/node_modules

# build output
/.next
/out

# firebase
/.firebase
/firebase-debug.log

# environment variables
.env
.env.local
.env.*.local

# IDE
.vscode

# git
.git

# other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
